* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.header
{
    width: 100%;
    max-width: 800px;
    height: 5vh;
    margin: 0px auto;
    background-color: whitesmoke;
    border-color: black;
    border-width: 1590px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.contenedor
{
    width: 100%;
    max-width: 800px;
    min-height: 100vh;
    margin: 0px auto;
    background-color: whitesmoke;
    border-color: black;
    border-width: 1590px;
    display: flex;
}


.contenedor .contenedor1
{
    width: 30%;
    height: 100vh;    
    display: flex;
    flex-direction:column; 
}   

.contenedor .contenedor1 .img {
    width: 100%;
    height: 420px;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .contenedor1 .img .foto {
    width: 80%;
    height: 80%;
    background-color: rgb(9, 14, 9);
    padding: 2px ;
}

.contenedor .contenedor1 .data {
    width: 100%;
    height: 400px;
    background-color: whitesmoke

}

.contenedor .contenedor1 .data .data_content_name {
    height: 40%;
    display: flex;
    align-items: left;
    justify-content: left;
    border-color: black;
    border-width: 10px;
    font-size: 20px;
}

.contenedor .contenedor1 .data .data_content_name > h4{
    color: #242BC2;
    display: flex;
    justify-content: left;
    align-items: center; 
}

.contenedor .contenedor1 .data .data_content {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

.contenedor .contenedor1 .objetives {
    width: 100%;
    height: 400px;
    background-color: whitesmoke;
    padding: 20px;
}

.contenedor .contenedor1 .objetives > h3 {
    color: #242BC2;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size:x-large   ;
    padding-bottom: 5px;
}

.contenedor .contenedor1 .objetives > p {
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-bottom: 5px;
}



.contenedor .contenedor1 .skills {
    
    width: 100%;
    height: 400px;
    background-color: whitesmoke;
}

.contenedor .contenedor1 .skills .data_skill_dt {
    color: #242BC2;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size:x-large   ;
    padding-bottom: 5px;
}

.contenedor .contenedor1 .skills .data_skill_dd {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.contenedor .contenedor2
{
    width: 70%;
    display: flex;
    flex-direction:column; 
} 

.contenedor .contenedor2 .experience {
    width: 100%;
    height: 60%;
    background-color: whitesmoke;
}

.contenedor .contenedor2 .experience .experience_content_title > h3 {
    color: #242BC2;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size:x-large   ;
    padding-bottom: 5px;
    margin-top: 5px;
}

.contenedor .contenedor2 .experience .experience_content {
    justify-content: center;
    align-items: center; 
}

.contenedor .contenedor2 .experience .experience_content .experience_content_data{
    padding: 10px;
}

.contenedor .contenedor2 .education{
    width: 100%;
    height: 60%;
    background-color: whitesmoke;
}

.contenedor .contenedor2 .education .university {
    color: #242BC2;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size:x-large   ;
    padding-bottom: 5px;
    margin-top: 5px;
}

.contenedor .contenedor2 .education .university_content {
justify-content: center;
align-items: center; 
}

    
.contenedor .contenedor2 .education .university_content_data{
padding: 10px;
}
